.divProducts {
    position: absolute;
    top: 100px;
    left: 5%;
    width: 90%;
    height: 75%;
    color: #1C2C40;
}

.inputSearch {
    position: absolute;
    top: 17px;
    left: 5%;
    padding-left: 20px;
    border-radius: 20px;
}

.buttonNewProduct {
    position: absolute;
    top: 30px;
    right: 10%;
    background-color: #12b76a;
    color: #ffffff;
}

.buttonNewProduct:hover,
.buttonNewProduct:focus {
    background-color: #a6f4c5;
    color: #027a48;
}

.divProduct1 {
    background-color: #adb9d1;
    position: absolute;
    width: 100%;
    height: 170px;
    margin-bottom: 600px;
    border-radius: 1%;
    display: flex;
    align-items: center;
    line-height: 32px;
}

.divProduct2 {
    background-color: #adb9d1;
    position: absolute;
    width: 100%;
    height: 170px;
    margin-top: 200px;
    border-radius: 1%;
    display: flex;
    align-items: center;
    line-height: 32px;
}

.divProduct3 {
    background-color: #adb9d1;
    position: absolute;
    width: 100%;
    height: 240px;
    margin-top: 400px;
    border-radius: 1%;
    display: flex;
    align-items: center;
    line-height: 32px;
}

.divText {
    float: left;
    width: 70%;
    text-align: justify;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: justify;
    padding-left: 50px;
}

.h2Product {
    font-size: 20px;
}

.divLeftText {
    float: left;
    flex-direction: column;
    max-width: 700px;
}

.pVersionProduct {
    float: right;
    margin-left: 100px;
    text-align: center;
}

.divProduct .pVersionProduct {
    margin-left: 120px;
}

.divButtons {
    position: relative;
    width: 30%;
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

}

.buttonDownload {
    grid-column: 1;
    background-color: #0ba5ec;
    color: #ffffff;
}

.buttonDownload:hover,
.buttonDownload:focus {
    background-color: #b9e6fe;
    color: #026aa2;
}

.buttonUpdate,
.buttonUpdate:active {
    grid-column: 2;
    background-color: #0ba5ec;
    color: #ffffff;
}

.buttonUpdate:hover,
.buttonUpdate:focus {
    background-color: #b9e6fe;
    color: #026aa2;
}

.buttonDelete {
    grid-column: 3;
    background-color: #f04438;
    color: #ffffff;
}

.buttonDelete:hover,
.buttonDelete:focus {
  background-color: #fecdca;
  color: #b42318;
}

.divWelcomeUser {
    position: absolute;
    width: 100%;
    height: 1100px;
}

.h1User {
    position: relative;
    top: 72px;
    padding: 80px 80px 10px 80px;
    color: #1C2C40;
}

hr {
    width: 50%;
    height: 2px;
    background-color: #1C2C40;
    top: 80px;
    position: relative;
    left: 4%;
}

.divTabs {
    position: relative;
    top: 310px;
    width: 90%;
    min-height: 1050px;
    line-height: normal;
    background-color: #d8deec;
    margin: 0 auto;
    border-radius: 1%;
}

.ulMenu {
    position: relative;
    top: 270px;
    width: 90%;
    font-size: 25px;
    list-style: none;
    line-height: normal;
    font-weight: bold;
    left: 6%;
}

.liMenu {
    float:left;
    margin:0 0 0 3px;
    padding:0;
}

.liMenu a {
    padding: 15px 20px 40px 20px;
    border-radius: 20%;
    font-size:20px;
    color: #6f7588;
    text-decoration: none;
}

.liMenu .aMenuUsers {
    color: #ffffff;
}

.aMenuProducts {
    background-color: #d8deec;
}

.aMenuUsers {
    background-color: #6f7588;
}
